html {
    height: 100%;
}

body {
  background: -moz-linear-gradient(135deg, rgba(140,102,58,1) 0%, rgba(15,60,120,1) 100%);
  background: -webkit-linear-gradient(135deg, rgba(140,102,58,1) 0%, rgba(15,60,120,1) 100%);
  background: -o-linear-gradient(135deg, rgba(140,102,58,1) 0%, rgba(15,60,120,1) 100%);
  background: -ms-linear-gradient(135deg, rgba(140,102,58,1) 0%, rgba(15,60,120,1) 100%);
  background: linear-gradient(315deg, rgba(140,102,58,1) 0%, rgba(15,60,120,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

div .navbar a {
  color: black;
  text-decoration: none;
}

div .dropdown-menu li {
   list-style-type: none;
}

div section.jumbotron {
  background: url(NDBadlands.jpg);
  background-size: cover;
  background-position: center;
  height: 514px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.container.contactInfo {
  display: flex;
  flex-direction: row;
}

.mephoto {
  height: 200px;
  width: 200px;
  border-style: solid;
  border-color: white;
  border-width: 10px;
}

.container.beLegendary {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: bold;
  font-size: 52px;
}

.ndoutline {
  height: 200px;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 304px;
}

footer img {
  height: 100px;
}
