body {
  background-color: #D1D7E0;
  background-image: url(record.png);
  background-size: auto;
}

header {
  background-color: #802BB1;
  color: white;
  border-radius: 5px;
}

header h1 {
  margin: 0;
}

header h2 {
  text-align: center;
  padding-bottom: .5rem;
  margin-bottom: 1rem;
}

.container {
  background-color: #D1D7E0;
  border: 5px solid #2D283e;
  border-radius: 5px;
  display: flex;
  padding: 0;
  margin-bottom: 16px;
}

#storeFront {
  flex-direction: column;
}

#search {
  margin: 4px 4px 4px 4px;
}

#add {
  margin: 0px 4px 4px 4px;
}

#_addRevealBtn {
  float: right;
  background-color: #802BB1;
  border: none;
}

#addRecordRow {
display: none;
}

#_addRecordBtn {
  float: right;
  background-color: #802BB1;
  border: none;
}

#_searchRevealBtn {
  float: right;
  background-color: #802BB1;
  border: none;
}

#searchRecordRow {
  display: none;
}

#_searchBtn {
  float: right;
  background-color: #802BB1;
  border: none;
}

#noResults {
  text-align: center;
  display: none;
}

#collectionDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.albumDisplay {
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  outline: none;
  height: 100px;
  width: 300px;
  margin: 8px;
  padding: 4px;
  border: 2px solid #2D283e;
}

.albumDisplay:hover {
  background-color: rgba(255, 255, 255, .9);
}

.albumImage {
  width: 88px;
  height: 88px;
}

.albumInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.albumInfo p{
  margin: 0;
}

#infoDisplay {
  display: none;
}

#infoImg {
  margin: 8px;
  width: 300px;
  height: 100px;
}

#_infoBackBtn {
  float: right;
  background-color: #802BB1;
  border: none;
  margin-top: 4px;
  margin-right: 4px;
}

#infoContent {
  width: 100%;
}

#songList {
  display: flex;
  flex-wrap: wrap;
}

.song {
  margin-left: 8px;
}
