body {
  background-color: #D1D7E0;
  background-image: url(record.png);
  background-size: auto;
}

header {
  background-color: #802BB1;
  color: #D1D7E0;
  border-radius: 5px;
}

header h1 {
  margin: 0;
}

header h2 {
  text-align: center;
  padding-bottom: .5rem;
  margin-bottom: 1rem;
}

#storeFront {
  background-color: #D1D7E0;
  border: 5px solid #2D283e;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

#addRevealBtn {
  float: right;
}

#addRecordRow {
display: none;
}

#addRecordBtn {
  float: right;
}

#searchRevealBtn {
  float: right;
}

#searchRecordRow {
  display: none;
}

#searchBtn {
  float: right;
}

#noResults {
  text-align: center;
  display: none;
}

#collectionDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.albumDisplay {
  display: flex;
  height: 100px;
  width: 300px;
  margin: 8px;
  padding: 4px;
  border: 2px solid #2D283e;
}

.albumImage {
  width: 88px;
}

.albumInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.albumInfo p{
  margin: 0;
}
